// colours
$white100: #fff;
$black100:#000;
$black80:#111;
$black60: #333;
$black30: #666;
$primary: #0072ff;
$secondary: #00c6ff;
$primary-bg: linear-gradient(-45deg, #00c6ff, #0072ff);

//spacing
$spacing: (
  xxs: 5rpx,
  xs: 10rpx,
  ss: 15rpx,
  s: 20rpx,
  m: 25rpx,
  l: 30rpx,
  xl: 35rpx,
  xxl: 40rpx
);
