@import '../../theme/variables';

.app-nav{
  position: fixed;
  bottom: 0;
  width:100%;
  z-index: 100;
  display: flex;
  border-top: 1px solid #ccc;
  padding: 30rpx 0;
  justify-content: space-around;
  background: $white100;
  &-icon{
    font-size: 40rpx;
    color: $black30;
  }
  &-icon-active{
    color: $primary;
  }
}