@import '../../theme/variables';

.app-nav{
  position: fixed;
  bottom: 0;
  width:100%;
  z-index: 100;
  display: flex;
  border-top: 1px solid #ccc;
  padding: 30rpx 0;
  justify-content: space-around;
  background: $white100;
  &-icon{
    font-size: 40rpx;
    color: $black30;
  }
  &-icon-active{
    color: $primary;
    .pill{
      background-color:$primary;
    }
  }
}

.icon-wrapper{
  position: relative;
}

.pill{
  border-radius:15rpx;
  width:30rpx;
  height:30rpx;
  color:$white100;
  background-color: $black100;
  position: absolute;
  top:-15rpx;
  right:-15rpx;
  font-size:18rpx;
  border:2rpx solid $white100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:bold;
}